<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GitHub Issue Notifier{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'client/style.css' %}">
</head>
<body>
<header>
    GitHub Issue Notifier
    <nav>
        <a href="{% url 'index' %}">Home</a>
        {% if user.is_authenticated %}
        <a href="#">Repositories</a>
        {% endif %}
        <a href="#">Contact</a>
        <a href="#">About</a>
        <a></a>
    </nav>
</header>

<aside class="card">
    <div class="auth">
        {% if user.is_authenticated %}
        <form action="{% url 'profile' %}" method="get" style="display: inline;">
            {% csrf_token %}
            <input type="submit" value="Profile" class="btn profile-btn">
        </form>
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="submit" value="Logout" class="btn logout-btn">
        </form>
        {% else %}
        <form action="{% url 'login' %}" method="get" style="display: inline;">
            {% csrf_token %}
            <input type="submit" value="Login" class="btn logout-btn">
        </form>
        <form action="{% url 'register' %}" method="get" style="display: inline;">
            {% csrf_token %}
            <input type="submit" value="Register" class="btn logout-btn">
        </form>
        {% endif %}
    </div>
</aside>

<main class="container">
    {% block content %}
    {% endblock %}
</main>
<footer>
    &copy; 2024 GitHub Issue Notifier
</footer>
{% block extra_scripts %}{% endblock %}
</body>
</html>
