{% extends "client/base.html" %}

{% block content %}
<h1>Welcome to the Login Page</h1>
{% if user.is_authenticated %}
<p>Hello, {{ user.username }}. You are logged in.</p>
{% else %}
<p>You are not logged in.</p>
<p>Please log in or create a new account</p>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
<p>Don't have an account? <a href="{% url 'register' %}">Create one now</a>.</p>
{% endif %}
{% endblock %}