<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GitHub Issue Notifier{% endblock %}</title>
    <link rel="stylesheet" href="style.css">
    {% block extra_head %}{% endblock %}
</head>
<body>
<header>
    GitHub Issue Notifier
    <nav>
        <a href="#">Home</a>
        {% if user.is_authenticated %}
        <a href="#">Repositories</a>
        {% endif %}
        <a href="#">Contact</a>
        <a href="#">About</a>
        <a></a>
    </nav>
</header>

<aside class="card">
    {% if user.is_authenticated %}
    <a href="#" class="authbtn">Profile</a>
    <a href="#" class="btn">Logout</a>
    {% else %}
    <a href="#" class="authbtn">Login</a>
    <a href="#" class="btn">Register</a>
    {% endif %}
</aside>

<main class="container">
    {% block content %}
    {% endblock %}
</main>
<footer>
    &copy; 2024 GitHub Issue Notifier
</footer>
{% block extra_scripts %}{% endblock %}
</body>
</html>
